* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', sans-serif;
}

.content {
  position: relative;
  display: inline-block;
}

.life-bars {
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px;
}

.playerHealth-content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border-top: 4px solid white;
  border-left: 4px solid white;
  border-bottom: 4px solid white;
}

.playerHealth-aux {
  
}